<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="shopping-list">
      <h1>{{header || Welcome}}</h1>

      <div class="add-item-form">
        <input
          @keyup.enter="saveItem"
          v-model="newItem"
          type="text"
          placeholder="Add an item"
        />

        <label>
          <input type="checkbox" v-model="newItemHighPriority" />
          High Priority
        </label>

        <button
          @click="saveItem"
          class="btn btn-primary"
        >
          Save Item
        </button>
      </div>

      <ul>
        <li v-for="item in items" :key="item.id">{{item.label}}</li>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            header: "Shopping List App",

            newItem: "",

            newItemHighPriority: false,

            items: [
              { id: 1, label: "Milk" },
              { id: 2, label: "Eggs" },
              { id: 3, label: "Bread" },
            ],
          };
        },

        methods: {
            saveItem() {
                this.items.push({id:this.items.length + 1, label: this.newItem})
                
                this.newItem = ""
            }
        }

      }).mount("#shopping-list");
    </script>
  </body>
</html>
